body{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    background: #000
  }  

p {
    line-height: calc(1ex / 0.32);
    width: 60ch;
    max-width: 100%;
}

.content{
    max-width: 700px;
    margin: auto;
    padding-top: 15px;
}

h1{
    text-shadow: 0 0 15px #fff;
}

h2{
    font-weight: 100;
    font-size: 1.2em;
    font-style: italic;
    color: #ddd;
}